* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
    text-align: center;
    padding: 8% 5% 0 5%;
    border: 2px solid whitesmoke;
    border-radius: 25%;
    max-width: 40%;
    margin: 2% auto;
    overflow: hidden;
    box-shadow:
  /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

@media(max-width:666px) {
    .App {
        margin: 20% auto;
    }
    footer p{
        font-size: .8rem;
    }
}

.App > h1 {
    color: darkviolet;
    margin-top: 5%;
    margin-bottom: 9%;

}
.App .hero{
    color: black;
    margin: -10% auto 0 auto;
}

button {
    letter-spacing: .2em;
    display: flex;
    justify-content: center;
    margin: 1px auto;
    width: 7rem;
    background: cornflowerblue;
    color: white;
    padding: 1%;
    border-radius: 20%;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

footer {
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
    margin: 20% auto 0 auto;

}